.button{
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: transparent;
}
.button:hover {
    -fx-text-fill: BLACK;
    -fx-scale-y: 1.1;
    -fx-border-color: black;
    -fx-background-color: #0000006a;
}